body {
    padding-top: 70px;
}

.bgDark {
    background-color: #000;
    color: #fff;
}

.bgYellow {
    background-color: #f1c40f;
    color: #000;
}

.bgWhite {
    background-color: #fff;
    color: #000;
}

.page-header {
    border-bottom: none !important;
}

.panel-heading{
    padding: 1px 15px !important;
}

/* recup */
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
    color: #fff
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee
}

.floating-label-form-group input, .floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none !important;
    resize: none
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease, opacity .3s ease;
    -moz-transition: top .3s ease, opacity .3s ease;
    -ms-transition: top .3s ease, opacity .3s ease;
    transition: top .3s ease, opacity .3s ease
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1
}

.floating-label-form-group-with-focus label {
    color: #f1c40f
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee
}

footer {
    color: #fff
}

footer h3 {
    margin-bottom: 30px
}

footer .footer-above {
    padding-top: 50px;
    background-color: #000
}

footer .footer-col {
    margin-bottom: 50px
}

footer .footer-below {
    padding: 25px 0;
    background-color: #f1c40f
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px
}

.scroll-top .btn:focus {
    outline: 0
}

.panel .panel-heading h3 {
    font-size: 14px;
    margin-top: 6px
}

.progress {
    height: 20px
}

.progress .progress-bar {
    font-size: 18px;
    line-height: 20px
}
