{% extends "PPMakerBackBundle::layout.html.twig" %}

{% block body_content %}
    <ul class="list-group">
        <a class="list-group-item" href="{{ path('config_list') }}"><i class="fa fa-gears"></i> {{ 'config.list.title'|trans|capitalize }}</a>
    </ul>
{% endblock %}