/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
html{
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}

#wrapper {
    width: 100%;
    margin-top: 35px;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #F3F3F3;
}

#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: #fff !important;
    padding: 10px;
    min-height: 1050px;
}

.pad-top {
    padding-top: 15px;
}

/*==============================================
    MENU STYLES    
=============================================*/

.sidebar-collapse .nav {
    padding: 0;
    padding-top: 50px;
}

.sidebar-collapse > .nav > li > a {
    padding: 15px 10px;
    color: #214761;
    font-weight: 900;
    font-size: 16px;
}

.sidebar-collapse > .nav > li {
    border-bottom: 1px solid #e1e1e1;
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    background: #F3F3F3;
    outline: 0;
}

.navbar-side {
    border: none;
    background-color: #fff;
}

.navbar-inverse {
    background-color: #214761;
    border-color: #F0F0F0;
    min-height: 50px;
}

.nav > li > a > i {
    margin-right: 10px;
}

.logout-spn {
    float: right;
    color: #fff;
    /*font-size: 25px;*/
    /*font-weight: 800;*/
    margin: 20px;
    margin: 10px 25px 10px 50px;
}

.logout-spn a {
    text-decoration: none;
    color: #9d9d9d;
}

.logout-spn a:hover {
    text-decoration: none;
    color: #fff;
}

.active-link {
    background-color: #f3f3f3;
}

/*==============================================
    DASHBOARD STYLES    
=============================================*/
.div-square {
    padding: 5px;
    border: 3px double #e1e1e1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 5px;

}

.div-square > a, .div-square > a:hover {
    color: #808080;
    text-decoration: none;
}

/*==============================================
    FOOTER STYLES     
=============================================*/
.footer {
    background-color: #214761;
    width: 100%;
    color: #fff;
    padding: 20px 50px 20px 50px;
    padding-left: 20px;
}

.footer > a, .footer > a:hover {

    color: #fff;
}

/*==============================================
    MEDIA QUERIES     
=============================================*/

@media (min-width: 768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1050px;

    }

    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;

    }
}

/*==============================================
    LOGIN PAGE
=============================================*/

body.login {
    height: 100%;
    background-repeat: no-repeat;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+27,b5c6d0+53,e0eff9+100 */
    background: rgb(242,246,248); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 27%, rgba(181,198,208,1) 53%, rgba(224,239,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 27%,rgba(181,198,208,1) 53%,rgba(224,239,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 27%,rgba(181,198,208,1) 53%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
}

body.login .card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

body.login.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
body.login .card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

body.login .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
body.login .profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

body.login .reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body.login .form-signin #inputEmail,
body.login .form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

body.login .form-signin input[type=email],
body.login .form-signin input[type=password],
body.login .form-signin input[type=text],
body.login .form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body.login .form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

body.login .btn.btn-signin {
    background-color: rgb(104, 145, 162);

    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

body.login .btn.btn-signin:hover,
body.login .btn.btn-signin:active,
body.login .btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

body.login .forgot-password {
    color: rgb(104, 145, 162);
}

body.login .forgot-password:hover,
body.login .forgot-password:active,
body.login .forgot-password:focus{
    color: rgb(12, 97, 33);
}

/*==============================================
    TABLE
=============================================*/
.table-hover{
    cursor: pointer;
}